<!DOCTYPE html>
<html>
<head>
  <title>Bookings</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      text-align: center;
      margin: 20px;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Booking Page</h1>
  <div>Please choose your booking below</div>
  <div><%= @listing.listing_name %></div><br>
  <form action="/listings/<%= @listing.id %>/bookings" method="POST">
  <div>Date From</div>
  <input type="date" name="date_from">
  <div>Date To</div>
  <input type="date" name="date_to"><br>
  <input type="submit" value="Make Booking">
  </form>
</body>
</html>
