<!DOCTYPE html>
<html>
<head>
  <title>Bookings</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      text-align: center;
      margin: 20px;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Booking Page</h1>
  <div>Please choose your booking below</div>
  <form action="/bookings" method="POST">
  <div>Date From</div>
  <input type="date" date_from="date_from">
  <div>Date To</div>
  <input type="date" date_to="date_to">
  <div>Price Total</div>
  <input type="number" price_total="price_total">
  <br>
  <input type="submit" value="Make Booking">
  </form>
</body>
</html>
