<!DOCTYPE html>
<html>
<head>
  <title>Bookings</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    body {
      text-align: center;
      margin: 20px;
    }

    h1 {
      margin-bottom: 20px;
    }

    form {
      display: inline-block;
      text-align: left;
    }

    label {
      display: block;
      margin-top: 10px;
    }

    input[type="submit"] {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Booking Page</h1>
  <div>Please choose your booking below</div>

  <form action="/signup" method="POST">
  <div>Name</div>
  <input type="text" name="name">
  <div>Listing</div>
  <input type="text" listing.listing_name="listing_name">
  <div>Date From</div>
  <input type="date" date_from="date_from">
  <div>Date To</div>
  <input type="date" date_to="date_to">
  <div>Price Total</div>
  <input type="number" price_total="price_total">
  <div>Location</div>
  <input type="text" listings.location="location">
  <input type="submit" value="Make Booking">
  </form>
</body>
</html>
