<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <h1>MakersBNB- Unique accomodation worldwide</h1>
    <body>
        <h2>Listings</h2>
        <h3><a href='localhost:9292/1'</a>Stylish cottage getaway</h3>
    </body>
</html>