<!DOCTYPE html>
<html>
<head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>MakersBNB - Unique accommodation worldwide</h1>
    <div><a href="http://localhost:9292/login">Login</a></div>
    <div><a href="http://localhost:9292/signup">Signup</a></div>
    <div><a href="http://localhost:9292/bookings">Bookings</a></div>
    <div><a href="http://localhost:9292/listings">Listings</a></div>
    <h2>Listings</h2>
    <h3><a href="http://localhost:9292/1">Stylish cottage getaway</a></h3>
</body>
</html>
