<!DOCTYPE html>
<html>
<head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            text-align: center;
        }
        h1, h2 {
            padding: 20px;
        }
        .link-container {
            display: inline-block;
            margin-right: 10px;
            padding: 10px;
        }
        .image-container {
            display: block;
            width: 200px; /* Adjust this value to your desired width */
            height: 200px; /* Adjust this value to your desired height */
            margin-bottom: 10px;
        }
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .center-table {
            display: flex;
            justify-content: center;
        }
        table {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            width: 100%;
        }
        th {
            font-size: 18px;
        }
        tr:nth-child(even) {
            background-color: #e9e9e9;
        }
        h4 a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>MakersBNB</h1>
    <h2>Unique Accommodation Worldwide</h2>
    <div class="link-container"><a href="http://localhost:9292/login">Login</a></div>
    <div class="link-container"><a href="http://localhost:9292/signup">Signup</a></div>
    <div class="link-container"><a href="http://localhost:9292/login">Listings</a></div>
    <div class="link-container"><a href="http://localhost:9292/login">Bookings</a></div>
    <div class="link-container"><a href="http://localhost:9292/login">Create A Listing</a></div>
    <h3>Featured Listings</h3>

    <table class="center-table">
        <tr>
            <th>Cottages</th>
            <th>Mansions</th>
            <th>Glamping</th>
        </tr>
        <tr>
            <td>
                <div class="image-container">
                    <img src="https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Listing 2">
                </div>
                <h4><a href="http://localhost:9292/listing/1">Stylish cottage getaway</a></h4>
            </td>
            <td>
                <div class="image-container">
                    <img src="https://images.unsplash.com/photo-1543489822-c49534f3271f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2832&q=80" alt="Listing 3">
                </div>
                <h4><a href="http://localhost:9292/listing/2">Luxurious oceanfront villa</a></h4>
            </td>
            <td>
                <div class="image-container">
                    <img src="https://media.istockphoto.com/id/1437435501/photo/glamping-house-in-sunset-and-volcano-rural-landscape-tent-houses-in-kamchatka-peninsula.jpg?s=1024x1024&w=is&k=20&c=o00vrE5t2nhpflBUPpjdnQ5_Peqm1U6XlqUVzSuwIOY=" alt="Listing 4">
                </div>
                <h4><a href="http://localhost:9292/listing/3">Secluded safari tent experience</a></h4>
            </td>
        </tr>
        <tr>
            <td>
                <div class="image-container">
                    <img src="https://images.unsplash.com/photo-1532323544230-7191fd51bc1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80" alt="Listing 5">
                </div>
                <h4><a href="http://localhost:9292/listing/4">Charming countryside cottage</a></h4>
            </td>
            <td>
                <div class="image-container">
                    <img src="https://images.unsplash.com/photo-1520608421741-68228b76b6df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80" alt="Listing 6">
                </div>
                <h4><a href="http://localhost:9292/listing/5">Modern urban loft</a></h4>
            </td>
            <td>
                <div class="image-container">
                    <img src="https://images.unsplash.com/photo-1610005286921-6b1c157b96d1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1vdW50YWluJTIwY2FiaW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=900&q=60" alt="Listing 7">
                </div>
                <h4><a href="http://localhost:9292/listing/6">Cozy mountain cabin</a></h4>
            </td>
        </tr>
    </table>
</body>
</html>
