<!DOCTYPE html>
<html>
<head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            text-align: center;
        }
        .link-container {
            display: inline-block;
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <h1>MakersBNB</h1>
    <h2> Unique Accommodation Worldwide</h2>
    <div class="link-container"><a href="http://localhost:9292/login">Login</a></div>
    <div class="link-container"><a href="http://localhost:9292/signup">Signup</a></div>
    <div class="link-container"><a href="http://localhost:9292/bookings">Bookings</a></div>
    <div class="link-container"><a href="http://localhost:9292/listings">Listings</a></div>
    <h3>Listings</h3>

    <h4><a href="http://localhost:9292/1">Stylish cottage getaway</a></h4>
    <img src="https://www.southernliving.com/thmb/A1aK1Xdv7iQbZ5UdiBioQml4lhQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/2270901_cainc0259_1-2000-36b6699219454ee298de1d4565f1ab7d.jpg">

    <table>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
        <tr>
            <td><img src="https://www.southernliving.com/thmb/A1aK1Xdv7iQbZ5UdiBioQml4lhQ=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/2270901_cainc0259_1-2000-36b6699219454ee298de1d4565f1ab7d.jpg"></td>
            <td><img src="https://cdn.luxatic.com/wp-content/uploads/2021/03/Uluwatu-House-by-SAOTA.jpg"></td>
            <td><img src="https://media-cdn.tripadvisor.com/media/photo-s/19/79/00/87/tamar-safari-tent-with.jpg"></td>
        </tr>
        <tr>
            <td><h4><a href="http://localhost:9292/1">Stylish cottage getaway</a></h4></td>
            <td> Row 2 Cell 2</td>
            <td> Row 2 Cell 3</td>
        </tr>
    </table>
</body>
</html>

