<!DOCTYPE html>
<html>
<head>
    <title>Listings</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            text-align: center;
        }
        .link-container {
            display: inline-block;
            margin-right: 10px;
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        .image-container img {
            width: 300px; /* Adjust this value to your desired width */
            height: 200px; /* Adjust this value to your desired height */
            object-fit: cover;
        }

        .image-details {
            margin-top: 5px;
        }
    </style>
</head>
<body>
<h1>Listings</h1>
    <div class="image-container">
        <% @all_listings.each do |listing| %>
            <div>
            <a href="http://localhost:9292/listings/<%= listing.id %>">
                <img src="./img/<%= listing.id %>.jpeg"></a>
                <div class="image-details">
                    <%= listing.listing_name %><br>
                    <%= "Available from: #{listing.available_from} Available to: #{listing.available_to}" %>
                </div>
            </div>
        <% end %>
    </div>
</body>
</html>
