<html>
<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <title>Stylish Cottage Getaway</title>
        <link rel="stylesheet" href="/style.css" >
        <style>
              body {
                  text-align: center;
              }
              .image-container img {
                width: 900px; /* Adjust this value to your desired width */
                height: 500px; /* Adjust this value to your desired height */
                object-fit: cover;
              }
        </style>
    </head>
<body>
    <div class="image-container">
        <img src="/img/<%= @listing.id %>.jpeg"></a>
        <div class="image-details">
        <br>
          <%= @listing.listing_name %><br>
          <br>
          <%= @listing.description %><br>
          <br>
          <%= "Available from: #{@listing.available_from}
             Available to: #{@listing.available_to}" %>
        </div>
    </div>
</body>
</html>

