<html>
  <head></head>
  <body>
  <div class="image-container"</div>
      <div>
      <a href="http://localhost:9292/<%= listing.id %>">
          <img src="./img/<%= listing.id %>.jpeg"></a>
          <div class="image-details">
              <%= listing.listing_name %><br>
              <%= "Available from: #{listing.available_from} Available to: #{listing.available_to}" %>
          </div>
      </div>
  <% end %>
</div>
  </body>
</html>