<!DOCTYPE html>
<html>
  <head>
        <title>Login</title>
        <link rel="stylesheet" href="/style.css" >
        <style>
              body {
                  text-align: center;
              }

              div {
                font-size: 30px;
              }

              .box {
                  width: 600px; /* set the width to 200 pixels */
                  height: 40px; /* set the height to 150 pixels */
              }

              .button {
                  width: 120px;
                  height: 55px;
                  margin-left: 475px;
              }
        </style>
  </head>

  <body>
    <h1>Welcome to the Login Page</h1>
    <div>Please log in below</div>
    <div><form action="/login" method="POST">
    <div>Username</div>
    <input class="box" type="text" name="username">
    <br>
    <div>Password</div>
    <input class="box" type="password" name="password">
    <br>
    <br>
    <input class="button" type="submit" value="Login">
  </body>
</html>


<!-- User Table
id, name, username, email address, password -->